<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="Solr">
    <pipelines>
      <contentSearch.PopulateSolrSchema>
        <!-- Replaces the built-in SchemaPopulateHelper with the one that is config driven 
             For debug purposes, you may switch to DefaultWithDebugPopulateHelper that uses 
             the Sitecore built-in one, but logs the changes prior sending them to Solr.
        -->
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">
          <param type="Stendahls.Sc.SolrConfig.Schema.ConfigurationDrivenPopulateHelperFactory, Stendahls.Sc.SolrConfig"
            patch:instead="param[@type='Sitecore.ContentSearch.SolrProvider.Factories.DefaultPopulateHelperFactory']" />
        </processor>
      </contentSearch.PopulateSolrSchema>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <solrManagedSchema type="Stendahls.Sc.SolrConfig.Schema.SolrSchemaConfiguration">
          <!-- The solrManagedSchema section is a new custom section for containing the definition of all schema changes.
               The Stendahls.Sc.SolrSchema.config contains the definition of what's configured out-of-the-box in Sitecore.
               Add patch files containing the changes you want to make in the schema.
          -->

          <!-- By default, Sitecore removes all fields prior inserting the defined ones. The RemoveAllFields setting
               allows for just updating the changed ones and keep any surplus fields in the schema as-is.
          -->
          <RemoveAllFields>false</RemoveAllFields>

          <fieldTypes hint="raw:AddFieldType">
            <fieldType name="random" class="solr.RandomSortField" indexed="true"/>
            <fieldType name="ignored" class="solr.StrField" indexed="false" stored="false" docValues="false" multiValued="true" />

            <fieldType name="text_en" class="solr.TextField" positionIncrementGap="100" multiValued="false">
              <analyzer type="index">
                <tokenizer class="solr.StandardTokenizerFactory"/>
                <filter class="solr.StopFilterFactory" words="lang/stopwords_en.txt" ignoreCase="true"/>
                <filter class="solr.WordDelimiterGraphFilterFactory" catenateNumbers="1" generateNumberParts="1" splitOnCaseChange="1" generateWordParts="1" splitOnNumerics="1" catenateAll="0" catenateWords="1"/>
                <filter class="solr.FlattenGraphFilterFactory"/>
                <filter class="solr.LowerCaseFilterFactory"/>
                <filter class="solr.EnglishPossessiveFilterFactory"/>
                <filter class="solr.KeywordMarkerFilterFactory" protected="protwords.txt"/>
                <filter class="solr.PorterStemFilterFactory"/>
              </analyzer>
              <analyzer type="query">
                <tokenizer class="solr.StandardTokenizerFactory"/>
                <filter class="solr.StopFilterFactory" words="lang/stopwords_en.txt" ignoreCase="true"/>
                <filter class="solr.WordDelimiterGraphFilterFactory" catenateNumbers="0" generateNumberParts="1" splitOnCaseChange="1" generateWordParts="1" splitOnNumerics="1" catenateAll="0" catenateWords="0"/>
                <filter class="solr.LowerCaseFilterFactory"/>
                <filter class="solr.EnglishPossessiveFilterFactory"/>
                <filter class="solr.KeywordMarkerFilterFactory" protected="protwords.txt"/>
                <filter class="solr.PorterStemFilterFactory"/>
              </analyzer>
            </fieldType>

          </fieldTypes>

          <fields hint="raw:AddField">
            <field name="_content" type="text_general" indexed="true" stored="false"/>
            <field name="_database" type="string" indexed="true" stored="true"/>
            <field name="_path" type="string" indexed="true" stored="false" multiValued="true"/>
            <field name="_uniqueid" type="string" indexed="true" stored="true" required="true"/>
            <field name="_datasource" type="string" indexed="true" stored="true" required="true"/>
            <field name="_parent" type="string" indexed="true" stored="true"/>
            <!-- Indexing _name as a string type may be beneficial in some scenarios.-->
            <field name="_name" type="text_general" indexed="true" stored="true"/>
            <field name="_displayname" type="text_general" indexed="true" stored="true"/>
            <field name="_language" type="string" indexed="true" stored="true"/>
            <field name="_creator" type="lowercase" indexed="true" stored="true"/>
            <field name="_editor" type="lowercase" indexed="true" stored="true"/>
            <field name="_created" type="pdate" indexed="true" stored="true"/>
            <field name="_updated" type="pdate" indexed="true" stored="true"/>
            <field name="_hidden" type="boolean" indexed="true" stored="false"/>
            <field name="_template" type="lowercase" indexed="true" stored="true"/>
            <field name="_templatename" type="string" indexed="true" stored="true"/>
            <field name="_templates" type="string" indexed="true" stored="true" multiValued="true"/>
            <field name="_icon" type="string" indexed="true" stored="true"/>
            <field name="_links" type="string" indexed="true" stored="true" multiValued="true"/>
            <field name="_tags" type="string" indexed="true" stored="true" multiValued="true"/>
            <field name="_group" type="string" indexed="true" stored="true"/>
            <field name="_indexname" type="string" indexed="true" stored="true"/>
            <field name="_latestversion" type="boolean" indexed="true" stored="true"/>
            <field name="_indextimestamp" type="pdate" indexed="true" stored="true" default="NOW"/>
            <field name="_fullpath" type="lowercase" indexed="true" stored="true"/>
            <field name="_isclone" type="boolean" indexed="true" stored="true"/>
            <field name="_version" type="string" indexed="true" stored="true"/>
            <field name="_hash" type="string" indexed="true" stored="true"/>
            <field name="__semantics" type="string" indexed="true" stored="true" multiValued="true"/>
            <field name="_readaccess" type="lowercase" indexed="true" stored="false" multiValued="true" docValues="false"/>
            <field name="lock" type="boolean" indexed="true" stored="false"/>
            <field name="__bucketable" type="boolean" indexed="true" stored="false"/>
            <field name="__workflow_state" type="string" indexed="true" stored="false"/>
            <field name="__is_bucket" type="boolean" indexed="true" stored="false"/>
            <field name="is_displayed_in_search_results" type="boolean" indexed="true" stored="false"/>
            <field name="text" type="text_general" indexed="true" stored="false" multiValued="true"/>
            <field name="text_rev" type="text_general_rev" indexed="true" stored="false" multiValued="true"/>
            <field name="__hidden" type="boolean" indexed="true" stored="false"/>
            <field name="_version_" type="plong" indexed="true" stored="true"/>
          </fields>

          <dynamicFields hint="raw:AddDynamicField">
            <dynamicField name="*_t" type="text_general" indexed="true" stored="true"/>
            <!-- By default *_t_en is mapped to text_general. Should be English -->
            <dynamicField name="*_t_en" type="text_en" indexed="true" stored="true"/>
            <dynamicField name="*_t_ar" type="text_ar" indexed="true" stored="true"/>
            <dynamicField name="*_t_bg" type="text_bg" indexed="true" stored="true"/>
            <dynamicField name="*_t_ca" type="text_ca" indexed="true" stored="true"/>
            <dynamicField name="*_t_cs" type="text_cz" indexed="true" stored="true"/>
            <dynamicField name="*_t_da" type="text_da" indexed="true" stored="true"/>
            <dynamicField name="*_t_de" type="text_de" indexed="true" stored="true"/>
            <dynamicField name="*_t_el" type="text_el" indexed="true" stored="true"/>
            <dynamicField name="*_t_es" type="text_es" indexed="true" stored="true"/>
            <dynamicField name="*_t_eu" type="text_eu" indexed="true" stored="true"/>
            <dynamicField name="*_t_fa" type="text_fa" indexed="true" stored="true"/>
            <dynamicField name="*_t_fi" type="text_fi" indexed="true" stored="true"/>
            <dynamicField name="*_t_fr" type="text_fr" indexed="true" stored="true"/>
            <dynamicField name="*_t_ga" type="text_ga" indexed="true" stored="true"/>
            <dynamicField name="*_t_gl" type="text_gl" indexed="true" stored="true"/>
            <dynamicField name="*_t_hi" type="text_hi" indexed="true" stored="true"/>
            <dynamicField name="*_t_hu" type="text_hu" indexed="true" stored="true"/>
            <dynamicField name="*_t_hy" type="text_hy" indexed="true" stored="true"/>
            <dynamicField name="*_t_id" type="text_id" indexed="true" stored="true"/>
            <dynamicField name="*_t_it" type="text_it" indexed="true" stored="true"/>
            <dynamicField name="*_t_ja" type="text_ja" indexed="true" stored="true"/>
            <dynamicField name="*_t_lv" type="text_lv" indexed="true" stored="true"/>
            <dynamicField name="*_t_nl" type="text_nl" indexed="true" stored="true"/>
            <dynamicField name="*_t_nb" type="text_no" indexed="true" stored="true"/>
            <dynamicField name="*_t_pt" type="text_pt" indexed="true" stored="true"/>
            <dynamicField name="*_t_ro" type="text_ro" indexed="true" stored="true"/>
            <dynamicField name="*_t_ru" type="text_ru" indexed="true" stored="true"/>
            <dynamicField name="*_t_sv" type="text_sv" indexed="true" stored="true"/>
            <dynamicField name="*_t_th" type="text_th" indexed="true" stored="true"/>
            <dynamicField name="*_t_tr" type="text_tr" indexed="true" stored="true"/>
            <!-- by default _zh is text_general instead of cjk -->
            <dynamicField name="*_t_zh" type="text_cjk" indexed="true" stored="true"/>

            <dynamicField name="*_txm" type="text_general" indexed="true" stored="true" multiValued="true"/>

            <dynamicField name="*_s" type="string" indexed="true" stored="true"/>
            <dynamicField name="*_sm" type="string" indexed="true" stored="true" multiValued="true"/>

            <dynamicField name="*_b" type="boolean" indexed="true" stored="true"/>
            <dynamicField name="*_i" type="pint" indexed="true" stored="true"/>
            <dynamicField name="*_im" type="pint" indexed="true" stored="true" multiValued="true"/>
            <dynamicField name="*_ti" type="pint" indexed="true" stored="true"/>
            <dynamicField name="*_pi" type="pint" indexed="true" stored="true"/>
            <dynamicField name="*_tl" type="plong" indexed="true" stored="true"/>
            <dynamicField name="*_tf" type="pfloat" indexed="true" stored="true"/>
            <dynamicField name="*_td" type="pdouble" indexed="true" stored="true"/>

            <dynamicField name="*_dt" type="pdate" indexed="true" stored="true"/>
            <dynamicField name="*_tdt" type="pdate" indexed="true" stored="true"/>
            <dynamicField name="*_tdtm" type="pdate" indexed="true" stored="true" multiValued="true"/>
            <dynamicField name="*_p" type="location" indexed="true" stored="true"/>
            <dynamicField name="*_rpt" type="location_rpt" indexed="true" stored="true"/>

            <dynamicField name="*_ignored" type="ignored" indexed="true" stored="true"/>
            <dynamicField name="*_random" type="random" indexed="true" stored="true"/>
          </dynamicFields>
        </solrManagedSchema>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>

